<!DOCTYPE HTML>
<html>
	<head>
		<title>Real Estate Demographics</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="#banner"><img src="../static/images/us_flag2.png" height="40"></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#banner">Home</a></li>
							<li><a href="#US">US Data</a></li>
							<li><a href="#State">States Data</a></li>
							<li><a href="https://resume.saadyaldram.com/">Portfolio</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h2>Real Estate and Demographics</h2>
						<p>Marrying real estate data with demographics<br />
						to explore trends and patterns in U.S. housing market.</p>
					</header>
					<span class="image"><img src="../static/images/american_house.jpg" alt="" /></span>
				</div>
			</section>

			<!-- Main -->
			<section id ="US">
				<div id="main four" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>US overall</h2>
							<p>We begin to look at the data at a national level. The data gives us a ingisht into real estate and demographic trends accross various regions in America.</p>
						</header>

						<!-- Content -->
							<section id="content">
								<a href="#" class="image fit"><img src="../static/images/row_houses.jpg" alt="Row houses" /></a>

								<h3>Home affordability in United States in 2022</h3>
								<p>The US housing market has been experiencing a significant affordability challenge in recent years, as home prices have risen faster than incomes and supply has lagged behind demand.</p>
								<p> A lower ratio indicates more affordability. For example, a ratio of 3 means that it would take three years of income to pay for a home, which is generally considered affordable. A higher ratio, such as 5 or 6, indicates less affordability. Please note this is a simplified model and doesn’t take into account factors like interest rates on mortgages, the distribution of income, or the distribution of home prices within a state. However, it can provide a useful starting point for understanding housing affordability. </p>
								<div class="container graphs">
									{{home_aff|safe}}
								</div>

								<div class="container graphs">
									{{map_home_aff|safe}}
								</div>

								<div class="container graphs">
									{{home_aff19|safe}}
								</div>

								<h3>Median House Prices vs Median Household Income in 2022</h3>
								<p>By comparing median household prices across different states, we can get a sense of which states are more or less affordable generally. A lower median price suggests that housing is more affordable, while a higher median price suggests the opposite. High median household prices can sometimes indicate a strong local economy, as they may reflect high demand for housing. However, if these high prices are coupled with low median incomes, it could indicate a lack of affordable housing, which could be a sign of economic inequality.</p>
								<div class="container graphs">
									{{home_median|safe}}
								</div>

								<div class="container graphs">
									{{median_income|safe}}
								</div>

								<p>While median household prices can provide a snapshot of housing affordability, they don’t capture the full picture. Other factors, such as cost of living, property taxes, and mortgage rates, also play a crucial role in determining housing affordability. It’s also important to note that median prices can hide disparities within the state, as housing prices can vary widely from one city or region to another.</p>

								<h3>Real Estate tax burden in United States in 2022</h3>
								<p>High real estate taxes can make homeownership less affordable. This can impact the real estate market, potentially slowing down activity or lowering house prices. In addition, real estate taxes contribute to the overall cost of living in a state. States with high property taxes may have a higher cost of living, which can influence decisions about where to live or do business</p>
								<div class="container graphs">
									{{tax_burden|safe}}
								</div>

								<h3>Median Mortgage Payment in United States in 2022</h3>
								<p>The median monthly mortgage payment can also help identify trends in the housing market. For example, a steady increase in the median payment could suggest a seller’s market, where demand is high and supply is low. For investors, the median monthly mortgage payment can help determine the potential return on investment in the housing market. A lower median payment might suggest a higher potential rental yield, making the state more attractive for real estate investment</p>
								<div class="container graphs">
									{{median_mtg_pmt|safe}}
								</div>

								<h3>Total Number of Houses with Mortgage in United States in 2022</h3>
								<p>The total number of houses with mortgages can indicate the size of the real estate market in a state. A larger number suggests a larger market.</p>
								<div class="container graphs">
									{{chart_units|safe}}
								</div>

								<h3>Average Household Size by Homeowner in United States in 2022</h3>
								<p>The average household size can indicate the type and size of housing that is in demand. For example, areas with larger households may have a higher demand for larger homes or multi-bedroom apartments.</p>
								<div class="container graphs">
									{{us_own_avg_hh_size|safe}}
								</div>

								<div class="container graphs">
									{{us_rent_avg_hh_size|safe}}
								</div>

								<p> Changes in average household size over time can reflect broader demographic and societal trends, which can impact the real estate market. For instance, an increase in multigenerational households could drive demand for homes with in-law suites or accessory dwelling units. In some cases, a larger average household size might indicate that families are consolidating households to save on housing costs, which could signal issues with housing affordability</p>

								<h3>Birth Rates in United States</h3>
								<p>Changes in birth rates can reflect broader demographic trends, which can impact the real estate market. For instance, falling birth rates might lead to a decrease in demand for larger, family-sized homes. Birth rates can help predict future housing needs. Areas with high birth rates may see increased demand for housing in the future as the population grows. </p>
								<div class="container graphs">
									{{total_births|safe}}
								</div>

								<p>Areas with higher birth rates might see an increase in property values due to higher demand for family-friendly housing</p>


							</section>

					</div>
				</div>
			</section>

			<!-- Main -->
			<section id="State">
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Data by State</h2>
							<a id="charts_tag"></a>
							<div class="dropdown">
								<button class="button primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						
								  {{state}}
								</button>
								<ul class="dropdown-menu">
									{% for k, v in state_abbreviations.items() %}
									  <li><button class="dropdown-item text-bg-dark p-3 state-item" type="button" onclick="window.location.href='/state?state=' + '{{v}}'">{{v}}</button></li>
									{% endfor %}
								</ul>
							</div>
						</header>

					<!-- Content -->
						<section id="content">
							  {% if scrollToAnchor %}
								<script>
									document.addEventListener("DOMContentLoaded", function() {
										document.location.hash = '#{{ scrollToAnchor }}';
									});
								</script>
								{% endif %}

							<div class="container graphs">
								{{pop_pyramid|safe}}
							</div>

							<div class="container graphs">
								{{state_births|safe}}
							</div>
							
							<p>Different age groups have different housing needs. For example, younger populations might increase demand for rental properties and starter homes, while older populations might increase demand for retirement communities or assisted living facilities.</p>

							<p> In addition, the shape of the population pyramid can help predict future real estate trends. For instance, a large youth population suggests future demand for homes as these individuals enter the workforce and start families.</p>

							<p>Lastly, understanding the age distribution can help investors identify profitable real estate opportunities. For example, areas with a growing population of young professionals might be good places to invest in multi-family or single-family rental properties</p>

							<div class="container graphs">
								{{chart_income|safe}}
							</div>

							<div class="container graphs">
								{{mtg_pmt|safe}}
							  </div>

							<div class="container graphs">
								{{home_value|safe}}
							</div>


							<p>Home values can give us an idea of how affordable each state can be. The high cost of living states generally have higher income and correlates with housing prices.</p>

							<div class="container graphs">
								{{home_pie|safe}}
							</div>

							<div class="container graphs">
								{{bedroom_size|safe}}
							</div>

							<p> The number of bedrooms can also give us an idea about the size of the household. Larger homes with more bedrooms are more likely to be owned rather than rented1. This could be due to families needing more space or the desire to invest in property.</p>

							<p>The cost of renting versus owning can also play a role. Renting a home offers little upfront costs, lower upkeep expenses, fewer responsibilities, and greater freedom, but it doesn’t build equity2. As a group, renters tend to be younger, live alone, earn less, and have less wealth than homeowners</p>

							<div class="container graphs">
								{{tax|safe}}
							</div>
							
						</section>

					</div>
				</div>
			</section>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://github.com/syaldram" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/saad-yaldram-7b27a72a/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Saad Yaldram. All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

	</body>
</html>